@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

:root {
  --preto-principal: #000000;
  --cor-secundaria: rgba(247, 247, 247, 0.645);
  --branco-principal: #ffffff;
  --roxo-principal: #581540;
  --rosa-principal: #d9a7c7;
  --gradiente-principal: linear-gradient(45deg, #d9a7c7, #fffcdc);
}

/* Conteúdo */
.principal__container {
  width: 100%;
  text-align: center;
  background: var(--gradiente-principal);
  padding: 15px;
  box-sizing: border-box;
  min-height: 100vh;
}

.flex__container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.principal__conteudo {
  border: 1px solid var(--preto-principal);
  border-radius: 15px;
  padding: 20px 25px;
  margin: 0 auto;
  max-width: 600px;
  background-color: var(--cor-secundaria);
}

.principal__texto {
  text-align: justify;
  font-weight: 400;
  font-size: 15px;
  line-height: 30px;
}

.principal__texto span {
  font-weight: 700;
}

.principal__titulo {
  margin-bottom: 16px;
  text-shadow: 1px 2px 2px var(--rosa-principal);
}

.principal__subtitulo {
  margin: 32px 0 16px;
  text-shadow: 1px 2px 2px var(--rosa-principal);
}

/* Formulário */

.principal__formulario {
  margin: 35px auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  max-width: 450px;
  gap: 15px;
  flex-wrap: wrap;
}

.principal__formulario input {
  padding: 8px;
  width: 40%;
  background-color: transparent;
  border: 0.5px solid var(--rosa-principal);
  border-radius: 5px;
}

input[type="number"]:focus {
  outline: 2px solid var(--roxo-principal);
}

.principal__formulario input::placeholder {
  font-size: 12px;
}

.div__input {
  max-width: 300px;
}

.div__input div {
  margin: 10px;
}

.div__botoes {
  width: 100px;
}

.div__resultado {
  display: block;
}

.principal__botao {
  margin-top: 10px;
  width: 100px;
  padding: 10px 0;
  border: none;
  border-radius: 15px;
  font-weight: 500;
  background-color: var(--rosa-principal);
  transition: 1.5s all;
  cursor: pointer;
}

.principal__botao:hover {
  background-color: var(--roxo-principal);
  color: var(--branco-principal);
  transform: scale(1.1);
}

/*  Resultado na tela */

#resultadoIMC {
  text-shadow: 1px 1px var(--rosa-principal);
  color: var(--roxo-principal);
  display: inline;
  margin-bottom: 30px;
}

/* Tabela */

.principal__tabela {
  margin: 30px auto 0;
  /* border-collapse: collapse; */
}

.principal__tabela thead {
  background: var(--roxo-principal);
  color: var(--branco-principal);
  font-weight: 300;
}

.principal__tabela td,
.principal__tabela th {
  border: 1px solid var(--preto-principal);
  padding: 8px 15px;
  font-size: 14px;
}

/* Responsividade */

@media screen and (max-width: 375px) {
  .principal__conteudo {
    width: 80%;
    padding: 20px;
  }

  .principal__titulo {
    font-size: 30px;
  }

  .principal__subtitulo {
    font-size: 20px;
  }

  .div__botoes {
    width: 204px;
  }

  .principal__botao {
    margin: 0 8px;
    width: 80px;
  }

  .principal__tabela {
    width: 200px;
    margin: 0 auto;
  }

  .principal__tabela td:first-child,
  .principal__tabela th:first-child {
    padding: 5px;
    width: 40px;
  }

  .principal__tabela td,
  .principal__tabela th {
    padding: 0.5px;
    font-size: 12px;
  }
}
